{% extends "index.html" %}
 
{% block title %} Subscriptions {% endblock %}
 
{% block content %}
 
 
<a href="/subreg/resources/">Home</a>
 
<h1>My subscriptions:</h1>
 
{% for sub in subscripts %}
 
<!--
<h3><a href="/appreg/editapp/{{credential.uid}}/">{{ credential.app_desc }}</a></h3>
/-->
<table class="table table-bordered table-condensed table-striped">
    <tr>
    	<td>Client ID</td>
    	<td>{{ sub.client_id }}</td>
    </tr>  
    <tr>
    	<td>Uses left</td>
    	<td>{{ sub.use_counter }}</td>
    </tr>
    <tr>
    	<td>Expirity timestamp</td>
    	<td>{{ sub.expires }}</td>
    </tr>  
</table>
{% endfor %}
 
{% endblock %}