/*
#cred_form_container input {
  width: 80%;
}
*/

#prefiller {
	float: right;
}

#btn-delete-app {
	float: right;
}

/*For applist*/
.table{
	margin-bottom: 8px;
	width:100%
}

.btn-group {
  position: relative;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  margin-bottom: 25px;
}

.btn-group.oa2, .btn-group.oa1 {
  margin-left: 0px;
}

.cred_form_row td {
  min-width: 15em;
}