{% extends "base.html" %}

{% block title %}Edit Credentials {% endblock %}

{% block content %}



<a href="/">Home</a>

<h1>{{ title }}</h1>

{% if appuid %}
<a href="/appreg/deleteapp/{{ appuid }}/">Remove this application</a>
{% endif %}

<form method='post' action='.'>
 {% csrf_token %} 
	  
	  <table class="table">
       <!-- display the form fields -->

       {{ form.as_table }}
 	   </table>

       <!-- submit button -->
       <input type='submit' value="{{ btn_text }}">
</form>


{% endblock %}