{% extends "base.html" %}

{% block title %}Edit Credentials {% endblock %}


{% block scripts %}		
		<script src="{{ STATIC_URL }}js/prefills.js"></script> 
{% endblock %}


{% block content %}

<h1>{{ title }}</h1>


{% if appuid %}

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close discard">&times;</a>
      <h3>Delete Application</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this application?</p>      
    </div>
    <div class="modal-footer">
      <a href="/appreg/deleteapp/{{ appuid }}/" class="btn danger">Yes</a>
      <a href="#" class="btn secondary discard">No</a>
    </div>
</div>


{% endif %}



<div class="container">
	
<div class="row">
	<div class="span1">
		
		
		{% if oa1default %}
			<div id="prefiller_oa1" class="btn-group oa1">
		{% else %}
			<div id="prefiller_oa1" class="btn-group oa1" style="display: none" >
		{% endif %}
		    <button class="btn">Prefill fields</button>
		    <button class="btn dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" id="dropdownLinksOa1">        
		   	</ul>
		</div>
		
		{% if oa1default %}
			<div id="prefiller_oa2" class="btn-group oa2" style="display: none" >
		{% else %}
			<div id="prefiller_oa2" class="btn-group oa2" >
		{% endif %}
		    <button class="btn">Prefill fields</button>
		    <button class="btn dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" id="dropdownLinksOa2">        
		   	</ul>
		</div>
	</div>
</div>


{% if editing %}

	<div class="btn-group" data-toggle="buttons-radio" >

	{% if oa1default %}
  		<button class="btn disabled">OAuth2</button>
  		<button class="btn active">OAuth</button>
	{% else %}
  		<button class="btn active">OAuth2</button>
  		<button class="btn disabled">OAuth</button>
	{% endif %}
	</div>
		
{% else %}

	<div class="btn-group" data-toggle="buttons-radio">
	
	{% if oa1default %}
  		<button class="btn" id="protoOa2">OAuth2</button>
  		<button class="btn active" id="protoOa1">OAuth</button>
	{% else %}	
		<button class="btn active" id="protoOa2">OAuth2</button>
		<button class="btn" id="protoOa1">OAuth</button>
	{% endif %}
	</div>

{% endif %} 


{% if oa1default %}
<div class="cred_form_row oa2" style="display: none">
{% else %}
<div class="cred_form_row oa2">
{% endif %}
  
     <form method='post' action='.'>
      {% csrf_token %} 
      <table class="table table-bordered table-condensed table-striped">
                  
              {% for field in formOauth2.visible_fields %}
                  <tr>
                <td>
                {{ field.label_tag }}                   
                </td>         
                <td>        
                      {{ field }}
                      <br>
                      {{ field.errors }}
                </td>     
                  </tr>
              {% endfor %}  
            </table>


           
           <input type='submit' class="btn" name='oa2' value="{{ btn_text }}">
           {% if appuid %}<a id="btn-delete-app" href="#" class="btn btn-danger confirm-delete">Remove this application</a>{% endif %}  
           <a id="btn-cancel" class="btn" href="/appreg/myapps">Cancel</a>
      </form>
  </div>

{% if oa1default %}
<div class="cred_form_row oa1">
{% else %}
<div class="cred_form_row oa1" style="display: none">
{% endif %}    
    <form method='post' action='.'>
      {% csrf_token %} 
      <table class="table table-bordered table-condensed table-striped">
                  
              {% for field in formOauth1.visible_fields %}
                  <tr>
                <td>
                {{ field.label_tag }}                   
                </td>         
                <td>        
                      {{ field }}
                      <br>
                      {{ field.errors }}
                </td>     
                  </tr>
              {% endfor %}  
            </table>
           
           <input type='submit' class="btn" name='oa1' value="{{ btn_text }}">
           {% if appuid %}<a id="btn-delete-app" href="#" class="btn btn-danger confirm-delete">Remove this application</a>{% endif %}  
           <a id="btn-cancel" class="btn" href="/appreg/myapps">Cancel</a>
      </form>
  </div>
</div>


<script type="application/javascript">


$('#protoOa1').click(function(e) 
{
  e.preventDefault();
 $('.oa1').show();
 $('.oa2').hide();  
}); 

$('#protoOa2').click(function(e) 
{
 e.preventDefault();
 $('.oa2').show();
 $('.oa1').hide();
}); 

$('.confirm-delete').click(function(e) {
	e.preventDefault();
	$('#modal-from-dom').modal('show');
});	
$('.discard').click(function(e) {
	e.preventDefault();
	$('#modal-from-dom').modal('hide');
});	

</script>



{% endblock %}